<?xml version="1.0"?>
<launch>
  <node name="uwsim_binary" pkg="uwsim" type="uwsim_binary" args="--disableShaders --configfile /home/yash/catkin_ws/src/kraken_3.0/simulator_stack/kraken_visualization/kraken/scenes/UWSim_scene.xml"/>
  <!--node name="ideal_controller" pkg="kraken_ideal_controller" type="ideal_controller"/-->
</launch>
